{
  "plugins": [
    "transform-class-properties",
    "syntax-decorators",
    "transform-decorators-legacy",
    ["module-resolver", {
      "root": ["./source/js"],
      "alias": {
        "test": "./test"
      }
      }]
  ],
  "presets": [
    ["es2015", { "modules": false }],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "presets":[
        ["es2015", { "modules": false }],
        "react",
        "stage-0"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
